{%extends 'user_center_head.html'%}
{%block body1%}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="http://127.0.0.1:8000/user/info/">· 个人信息</a></li>
				<li><a href="http://127.0.0.1:8000/user/user_order/">· 全部订单</a></li>
				<li><a href="http://127.0.0.1:8000/user/user_site/" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
                        {%if raddress == '' and  rname == '' and rphone == ''%}
						<dt>当前地址：</dt>
						<dd>未填写</dd>
                        {% else %}
                        <dt>当前地址：</dt>
						<dd>{{ raddress }} （{{ rname }} 收） {{ rphone }}</dd>
                        {% endif %}
					</dl>					
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="/user/user_site_handle/" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="rname" id="rname">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="raddress" id="raddress"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="rcode" id="rcode">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="rphone" id="rphone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>

{%endblock body1%}